* {
	margin: 0;
	padding: 0;
}

body {
	background: url("naturePic_2.jpg") no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* -webkit -> Chrome, Safari
	-moz -> Firefox
	-o -> Opera
	-ms -> IE
	background-color
	background-image
	background-repeat
	background-attachment
	background-position
	background (shorthand property) */
}

header {
	position: relative;
	margin: 2rem;
	/* border: 1px solid black; */
	height: 9rem;
}

#testMenuBar {
	outline: 1px solid black;
	width: 20%;
	position: absolute;
	left: 0;
	margin: 1rem;
}

#hdrsec1 {
	max-width: 40rem;
	text-align: center;
	background-image: linear-gradient(to right, lightblue, purple);
	height: 103px;
	right: 0;
	left: 0;
	margin: 0 auto;
	margin-top: 1rem;
	position: absolute;
	opacity: 60%;
	transition: all 0.5s ease;
}

#hdrsec1:hover {
	opacity: 100%;
}

#header-title {
	margin-top: 1.5rem;
}

#hdrasd1 {
	width: 20%;
	text-align: center;
	height: 103px;
	background-color: #b0d2d3;
	transition: all 0.5s ease;
	opacity: 60%;
	margin-bottom: 15px;
	position: absolute;
	right: 0;
	margin: 1rem;
	/* position: fixed;
	top: 0px;
	right: 0px; */
}

#hdrasd1:hover {
	opacity: 100%;
}

/* .hdrelmnts:not(#hdrasd1) {
} */

#srchfrm1 {
	margin-top: 1rem;
}

#searchBox-text {
	margin-top: 0.5rem;
}
.testMenuLinks {
	text-align: center;
	display: block;
	color: #ea5858;
	text-decoration: none;
	background-color: #b0d2d3;
	font-size: 16pt;
	transition: all 0.5s ease;
	opacity: 60%;
}
.testMenuLinks:hover {
	font-size: 22pt;
	opacity: 100%;
	color: green;
}

.testMenuLinks:first-child {
	border-bottom: 1px solid black;
}

.testMenuLinks:last-child {
	border-top: 1px solid black;
}
.testMenuLinks:nth-child(2) {
	border-bottom: 1px solid black;
}

article {
	margin: 2rem;
	position: relative;
	/* border: 1px solid black; */
	/* height: 150rem; */
	overflow: auto;
	/* box-sizing: border-box; */
	/* height: 2100px; */
}

#mainsidebarleft,
#mainsidebarright {
	/* width: 20%; */
	background-color: #b0d2d390;
	transition: all 0.5s ease;
	border-radius: 20px;
	margin: 1rem;
	padding: 2rem;
	text-align: center;
	/* height: calc(100% - 6rem); */
	/* height: 93%; */
}

#mainsidebarleft {
	position: absolute;
	left: 0;
}

#mainsidebarright {
	position: absolute;
	right: 0;
}

#mainsidebarleft p,
#mainsidebarright p {
	color: darkviolet;
	text-align: center;
	font-size: 24pt;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 1rem;
}

#mainsidebarleft:hover,
#mainsidebarright:hover {
	box-shadow: black 3px 3px 5px;
	background-color: #b0d2d3;
	/* border: 1px solid black; */
}

#mainsidebarleft ul {
	width: 70%;
	margin: auto;
}

#mainarticle-content {
	max-width: 45%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 1rem auto;
	border-radius: 20px;
	padding: 2rem;
	/* height: calc(100% - 6rem); */
	/* height: 93%; */
}

#mainsidebarright {
	/* width: 20%; */
	border-radius: 20px;
}

/* .main-content-elements {
} */

#benLinks-ulist li a {
	color: black;
	text-decoration: none;
	font-size: 16pt;
}

#benLinks-ulist li a:hover,
#archive-ulist li a:hover {
	text-shadow: 2px 2px 4px darkviolet;
}

#benLinks-ulist li {
	margin-bottom: 20px;
}

#archive-ulist {
	list-style-type: none;
}

#archive-ulist li a {
	color: black;
	text-decoration: none;
	font-size: 16pt;
}

#mainarticle-content {
	background-color: #9400d340;
	transition: all 1s ease;
	z-index: 2;
}

#mainarticle-content:hover {
	background-color: #f0d4fc;
}

.article-titles {
	text-align: center;
	margin: 1rem;
	font-size: 2rem;
	border-bottom: 2px solid black;
}

.article-textContent {
	text-align: justify;
	padding: 0 2rem;
	font-size: 14pt;
}

footer {
	margin: 2rem;
	/* border: 1px solid black; */
	text-align: center;
	font-size: 24pt;
	background-image: linear-gradient(to right, #00bfff99, #80008099);
}
/* overflow: hidden; */
/* background-color: rgba(255, 0, 0, 0.4); */
/* background-color: #ea585870; ===> 70 at last means opacity 70% */
